<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <i class="fab fa-instagram"></i>
      <p></p>
    </div>
    <div class="user">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-github-plain"></i>
      <i class="fab fa-r-project"></i>
      <p></p>
    </div>
    <div class="user">
      <h2>Interests</h2>
      <i class="devicon-docker-plain-wordmark"></i>
      <i class="devicon-go-plain"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <p></p>
    </div>
</div>

