<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="icon fab fa-r-project" aria-hidden="true"></i>  
      <i class="fas fa-infinity" aria-hidden="true"></i>
      <i class="fab fa-instagram" aria-hidden="true"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-amazonwebservices-original"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p></p>
    </div>
</div>

