<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cafe2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Clasificación de Café </h3>
    <ul>
      <li> Featured Skills: Computer Vision</li>
    </ul>
    <p>Se desarrollo un prototipo capaz de clasificar defectos en granos de café. Con el fin de remplazar los procesos manuales y reducir el porcentaje de error de clasificación. Se aplicaron técnicas de procesamiento de imágenes, Redes Neuronales convolucionales CNN y Regresión Logística.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-Brazil-Cafe">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/peptido.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Clasificación de Péptidos </h3>
    <ul>
      <li> Featured Skills: Machine Learning Classification</li>
    </ul>
    <p>Se ajusto la clasificación de péptidos antimicrobianos y NO-antimicrobianos. Se aplicaron técnicas de clasificación, Random Forest, regresión logística y Redes Neuronales.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-India">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/madre2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Felicidad Madres Solteras </h3>
    <ul>
      <li> Featured Skills: Linear Nodel, Networks </li>
    </ul>
    <p>Se desarrollo una App donde se desarrolla la descripción de los hogares en los cuales el jefe de hogar fuera una madre soltera. Se ajusto un modelo lineal para la predicción de la felicidad de una madre soltera, adicionalmente se realizó la descripción gráfica de la composición del hogar por medio de gráficos de Networks.</p>
    <a class="project-link" href="https://akai1024.shinyapps.io/Madres/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/rfm.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: RFM </h3>
    <ul>
      <li> Featured Skills: Customers Segmentation</li>
    </ul>
    <p>Segmentación de clientes </p>
    <a class="project-link" href="https://github.com/oecorrechag/Project-Australian">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/serie.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Serie de tiempo</h3>
    <ul>
      <li> Featured Skills: Time Series - LSTM </li>
    </ul>
    <p>Ajuste de un modelo Neural Network LSTM para la serie de tiempo del precio diario en Colombia de la energía entre 1995 – 2018.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-Montreal-Energia">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/clus.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Atípicos</h3>
    <ul>
      <li> Featured Skills: Outlier Detection</li>
    </ul>
    <p>Se desarrollo un prototipo capaz de clasificar posibles transacciones anómalas (posibles fraudes). Este análisis de una base de datos de un banco la cual contiene 1000 transacciones. Se aplicaron técnicas de clasificación no supervisada.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-Panama">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="señas" src="{{ "/assets/img/manitas.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Clasificación de Lengua de señas</h3>
    <ul>
      <li> Featured Skills: Computer Vision </li>
    </ul>
    <p>Se desarrollo un prototipo capaz de clasificar los 30 signos del lenguaje de señas, Se aplicaron técnicas de procesamiento de imágenes, Redes Neuronales convolucionales CNN mediante Keras.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-Mexico">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/med.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Similitud geo-poblacional de las comunas de la ciudad de Medellin </h3>
    <ul>
      <li> Featured Skills: Similarities</li>
    </ul>
    <p>Se busco las comunes más similares por las características geo-poblacionales con las que se cuentan. Se aplicaron técnicas de clasificación no supervisada.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-Barcelona-Comunas">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="señas" src="{{ "/assets/img/placa.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Serie de tiempo</h3>
    <ul>
      <li> Featured Skills: Time Series - Regression </li>
    </ul>
    <p>Regression Poisson para el ajuste de la serie de tiempo diaria del registro de matriculas en Colombia.</p>
    <a class="project-link" href="https://tae18.shinyapps.io/Bayesian/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/taxi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Distribución de las ganancias de un taxista </h3>
    <ul>
      <li> Featured Skills: Bayesiana</li>
    </ul>
    <p>Conocer la distribucion y las ganancias promedio de un taxista por medio de tecnicas Bayesianas basicas.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-taxi">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="señas" src="{{ "/assets/img/bicicleta.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Demand for bicycles</h3>
    <ul>
      <li> Featured Skills: Regression </li>
    </ul>
    <p>Regression pronostico de demanda de bicicletas publicas.</p>
    <a class="project-link" href="https://github.com/oecorrechag/-Proyecto-Monza-Bikes">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="flask" src="{{ "/assets/img/Flask.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Desarrollo web </h3>
    <ul>
      <li> Featured Skills: HTML CSS Flask</li>
    </ul>
    <p>Construcción de pagina web Blog con framework Flask.</p>
    <a class="project-link" href="https://blog-youtube.herokuapp.com">Check it out</a>
    <a class="project-link" href="https://blog-youtube2.herokuapp.com">Check it out</a>
  </div>
</div>

</div>