<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Cafe.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Clasificacion de Cafe </h3>
    <ul>
      <li> Featured Skills: Computer Vision</li>
    </ul>
    <p>Se realizo la clasificacion 8 tipos de defectos en el cafe verde, con el fin de reducir el porcentaje de error de clasificación ya que actualmente la clasificacion se realiza manualmente. Se aplicaron tecnicas de procesamiento de imagenes, redes neuronales convolucionales CNN y regresion logistica.</p>
    <a class="project-link" href="https://github.com/oecorrechag/COVID_19_PP">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/peptido.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Clasificacion de Peptidos </h3>
    <ul>
      <li> Featured Skills: Clasificacion Machine Learning</li>
    </ul>
    <p>Se realizo la clasificacion de peptidos antimicrobianos y NO-antimicrobianos. Se aplicaron tecnicas de clasificacion, random forest, regresion logistica y redes neuronales.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-India">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Felicidad Madres Solteras </h3>
    <ul>
      <li> Featured Skills: Networks </li>
    </ul>
    <p>Se realizo un modelo lineal para la prediccion de la felicidad de una madre soltera, ademas se realizo la descripcion grafica por medio de grafico de networks .</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/elefante.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title: Elefante </h3>
    <ul>
      <li> Featured Skills: Cancion</li>
    </ul>
    <p>Un elefante se columpiaba sobre la tela de una araña.</p>
    <a class="project-link" href="https://github.com/oecorrechag/Proyecto-India">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/madre.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title: Felicidad Madres Solteras </h3>
    <ul>
      <li> Featured Skills: Networks </li>
    </ul>
    <p>Se realizo un modelo lineal para la prediccion de la felicidad de una madre soltera, ademas se realizo la descripcion grafica por medio de grafico de networks .</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>